---
sitemap: false
---

@charset "utf-8";

$base-font-size: 18px !default;
$max-font-size: 20px !default;

$serif-font-family: "Noto Serif", "Noto Serif TC", serif !default;
$sans-serif-font-family: "Noto Serif", "Noto Serif TC", sans-serif !default;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $sans-serif-font-family;
$description-font-family: $sans-serif-font-family;
$meta-font-family: $sans-serif-font-family;

@import "so-simple";

.ul-nobullet {
	margin-left: 20px;
	list-style-type: none;
}

body {
	line-height: 1.8;
}

/* Hant Hans */
html:lang(zh-Hant-TW) {
	font-family: $serif-font-family;
}
*:not(:lang(zh)):not(:lang(ja)) {
	font-family: $serif-font-family;
	text-align: left;
}