---
sitemap: false
---

@charset "utf-8";

$base-font-size: 18px !default;
$max-font-size: 20px !default;

$serif-font-family: 'Biaodian Pro Sans CNS', "Noto Serif", "Noto Serif TC", serif !default;
$sans-serif-font-family: 'Biaodian Pro Sans CNS', "Noto Serif", "Noto Serif TC", sans-serif !default;

$base-font-family: $sans-serif-font-family;
$headline-font-family: $sans-serif-font-family;
$title-font-family: $sans-serif-font-family;
$description-font-family: $sans-serif-font-family;
$meta-font-family: $sans-serif-font-family;

@import "so-simple";

.ul-nobullet {
	margin-left: 10px;
	list-style-type: none;
}

body {
	line-height: 1.7;
}

/* Hant Hans */
html:lang(zh-Hant-TW),
*:not(:lang(zh)):not(:lang(ja)),
html :not(:lang(zh)):not(:lang(ja)) {
	font-family: $serif-font-family;
}
code :lang(ja-Latn), code:lang(zh-Latn), code:not(:lang(zh)):not(:lang(ja)),
code:lang(ja-Latn), code:lang(zh-Latn), code :not(:lang(zh)):not(:lang(ja)),
kbd :lang(ja-Latn), kbd :lang(zh-Latn), kbd :not(:lang(zh)):not(:lang(ja)),
kbd:lang(ja-Latn), kbd:lang(zh-Latn), kbd:not(:lang(zh)):not(:lang(ja)),
pre :lang(ja-Latn), pre :lang(zh-Latn), pre :not(:lang(zh)):not(:lang(ja)),
pre:lang(ja-Latn), pre:lang(zh-Latn), pre:not(:lang(zh)):not(:lang(ja)),
samp :lang(ja-Latn), samp :lang(zh-Latn), samp :not(:lang(zh)):not(:lang(ja)),
samp:lang(ja-Latn), samp:lang(zh-Latn), samp:not(:lang(zh)):not(:lang(ja)) {
    font-family: Menlo, Consolas, Courier, monospace, sans-serif !important;
}
article p:lang(en),
article li:lang(en) {
	text-align: left;
}
article blockquote:lang(zh-Hant-TW) {
	font-family: 'Biaodian Pro Sans CNS', 'Noto Serif', 'Noto Serif TC', serif;
}
[lang*="Hant"], [lang="zh-TW"], [lang="zh-HK"], [lang^="zh"],
article strong:lang(zh), article strong:lang(zh-Hant),
html:lang(zh), html:lang(zh-Hant) {
	font-family: 'Biaodian Pro Sans CNS', 'Noto Serif', 'Noto Serif TC', serif;
}