---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap: false
---

@charset "utf-8";

$serif-font-family: "Lora", "Noto Serif SC", serif !default;
$sans-serif-font-family: "Noto Serif SC", sans-serif !default;

@import "so-simple";

.ul-nobullet {
	margin-left: 20px;
	list-style-type: none;
}
